### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Arch Linux ###
.tool-versions

users-service/target
seller-daily-analytics-service/target
reviews-service/target
products-service/target
products-recommendations-service/target
orders-service/target
listings-service/target
eureka-server/target
catalog-service/target
carts-service/target
api-gateway/target